[![Datalayer](https://assets.datalayer.tech/datalayer-25.svg)](https://datalayer.io)

{{ template "chart.header" . }}
{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Documentation

For full documentation please checkout [Datalayer Tech](https://datalayer.tech).

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
